.vscode/settings.json
.DS_Store
assignments/theory/assignment_1/assignment.aux
assignments/theory/assignment_1/assignment.bcf
assignments/theory/assignment_1/assignment.fdb_latexmk
assignments/theory/assignment_1/assignment.fls
assignments/theory/assignment_1/assignment.log
assignments/theory/assignment_1/pdflatex19405.fls
assignments/theory/assignment_1/assignment.run.xml
assignments/theory/assignment_1/assignment.out
assignments/theory/assignment_1/assignment.toc
assignments/theory/assignment_1/assignment.synctex.gz
assignments/theory/assignment_1/assignment.xdv
