.DS_Store
lab/assignments/assignment-1/.idea/.gitignore
lab/assignments/assignment-1/.idea/assignment-1.iml
lab/assignments/assignment-1/.idea/misc.xml
lab/assignments/assignment-1/.idea/modules.xml
lab/assignments/assignment-1/.idea/vcs.xml

lab/assignments/assignment-1/code/.idea/.gitignore
lab/assignments/assignment-1/code/.idea/description.html
lab/assignments/assignment-1/code/.idea/encodings.xml
lab/assignments/assignment-1/code/.idea/misc.xml
lab/assignments/assignment-1/code/.idea/modules.xml
lab/assignments/assignment-1/code/.idea/project-template.xml
lab/assignments/assignment-1/code/.idea/uiDesigner.xml
lab/assignments/assignment-1/code/.idea/vcs.xml
lab/assignments/assignment-1/code/out/production/code/com/company/Computer.class
lab/assignments/assignment-1/code/out/production/code/com/company/Disk.class
lab/assignments/assignment-1/code/out/production/code/com/company/Hardware.class
lab/assignments/assignment-1/code/out/production/code/com/company/TryComputer.class
lab/assignments/assignment-1/code/code.iml
