.vscode/settings.json
.DS_Store
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/uni-work.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
lab/assignments/assignment_1/.ipynb_checkpoints/assignment_1-checkpoint.ipynb
lab/assignments/assignment_1/.ipynb_checkpoints/assignment_1-fe1c657c-b57b-4b78-8346-953fb9cd0a6d-checkpoint.ipynb
.idea/inspectionProfiles/Project_Default.xml
.idea/discord.xml
.idea/other.xml
.idea/workspace.xml
